
/*==============================
	HEADER CSS
==============================*/
.social-bx, .login-bx{
	margin-left:0px;	
}
.header-nav .nav{
	float:left;
}

.logo-header{
	float:right;
}
.wt-topbar-right{
	float:left;
}
.header-skew::before {
    border-left: 7px solid #212427;
    left: -50px;
	right:auto;
	-webkit-transform: skew(30deg);
	-moz-transform: skew(30deg);
	-o-transform: skew(30deg);
	-ms-transform: skew(30deg);
	transform: skew(30deg);

}
.site-search form::before{
	border-right: 7px solid #212427;
	border-left: 0px solid #212427;
	right:-25px;
	left:auto;	
	-webkit-transform: skew(-30deg);
	-moz-transform: skew(-30deg);
	-o-transform: skew(-30deg);
	-ms-transform: skew(-30deg);
	transform: skew(-30deg);
}
.site-search{
	left:0px;
	right:auto;
	padding-left:0px;
	padding-right:50px;
}
.extra-nav{
	float:left;
}

.header-skew::after {
    left: 10%;
	right:auto;
}

.header-nav .nav i {
    margin-right: 3px;
}

.header-center .wt-header-right-child {
    float: left;
    padding-left: 0px;
	padding-right:0px;
}
.nav-wide .container {
    padding: 0px 15px 0px 0px;
}

.header-nav .nav > li .sub-menu li .fa {
    float: left;
    left: 0;
    right: auto;
}
.header-nav .nav > li .sub-menu li a:hover {
	padding-right: auto;
    padding-right: 10px;
}

.header-nav .nav > li .sub-menu li .fa {
-webkit-transform: scaleX(-1);    transform: scaleX(-1);
    left: 0;
    right: auto;
}
@media only screen and (max-width:991px){
.header-nav .nav{
	width:100%;
}	
.header-nav .nav i{
	float:left;
}
.has-child .submenu-toogle{
	right: auto;
	left:10px;
	top: 10px;
	color: #000;
-webkit-transform: scaleX(-1);	transform: scaleX(-1)	
}

}
.header-nav .nav > li .sub-menu {
	left:auto;
	right:0;
}
.header-nav .nav > li .sub-menu li:hover > .sub-menu{
	right:218px;
}
.header-nav .nav > li .sub-menu li > .sub-menu{
	right:220px;
}

.header-style-1.nav-wide .container {
    padding-left:15px; padding-right: 40px;
}
@media only screen and (max-width:1024px){
	
.header-style-1.nav-wide .container {
    padding-right: 15px;
}
}
.social-bx li a {text-align: left;}



.nav-cart-item-image{
	float:right;	
}
.cart-dropdown-item-wraper{
	text-align:right;
	right:-160px;
}

.nav-cart-item-image{
	margin-left:15px;
	margin-right:0px;
}
.nav-cart-item-desc a.nav-cart-item-quantity{
	left:0px;
	right:auto;
}
.nav-cart-items::before{
	left:25px;
	right:auto;
}

@media only screen and (max-width:600px) {
.navbar-toggle{
	 margin: 24px 10px 24px 0px;
}

}
.boxed .header-skew::after {
    right: -15px;
}

.header-style-1 .header-left-gray-block .logo-header {
    margin-right: 0px;margin-left: 30px;
    padding-right: 0px;padding-left: 20px;
}
.header-style-1 .header-left-gray-block .logo-header::after {
    left: 0px; right:auto;
}

.extra-nav .extra-cell > a .fa{-webkit-transform: scaleX(-1);	transform: scaleX(-1)}

/*==============================
	BREADCRUMB CSS
==============================*/
.breadcrumb-style-1 li::after {
    content: "/";
    margin-right: 7px;
}

.breadcrumb-style-2 li::after{
	top:3px;
	left:-3px;
	right:auto;
	position:absolute;
	-moz-transform: scale(1) rotate(180deg);
	-webkit-transform: scale(1) rotate(180deg);
	-o-transform: scale(1) rotate(180deg);
	-ms-transform: scale(1) rotate(180deg);
	transform: scale(1) rotate(180deg);

}

.wt-breadcrumb li {
	margin-right:0px;
}
.breadcrumb-style-2 li{
	padding-left:20px;
}
.breadcrumb-style-2 li::after {
    top: -1px;
	
}

/*==============================
	BLOG STYLE CSS
==============================*/

.recent-posts-entry .wt-post-media {
    float: right;
}
.recent-posts-entry .wt-post-info {
    margin-right: 80px;
	margin-left:auto;
	background: transparent;
	padding: 0;
	border: none;	

}
.widget-post-bx .wt-post-date{
	float:right;
}
/*==============================
	DATE STYLE CSS
==============================*/


.date-style-1 .post-date span {
    float:left;
}

/*==============================
	TABS CSS
===============================*/
.wt-tabs .nav-tabs > li > a i{
	margin-left:5px;
	margin-right:auto;
}

/*=============================
	ICON BOX CSS
==============================*/

.wt-icon-box-wraper.left .icon-xld, 
.wt-icon-box-wraper.left .icon-xl, 
.wt-icon-box-wraper.left .icon-lg, 
.wt-icon-box-wraper.left .icon-md, 
.wt-icon-box-wraper.left .icon-sm, 
.wt-icon-box-wraper.left .icon-xs{
	float:right;
	margin-left:10px;
	margin-right:auto;
}


.wt-icon-box-wraper.left .wt-icon-box-xld, 
.wt-icon-box-wraper.left .wt-icon-box-xl, 
.wt-icon-box-wraper.left .wt-icon-box-lg, 
.wt-icon-box-wraper.left .wt-icon-box-md, 
.wt-icon-box-wraper.left .wt-icon-box-sm, 
.wt-icon-box-wraper.left .wt-icon-box-xs{
	float:right;
    margin-left:20px;
	margin-right:auto;}

.wt-icon-box-wraper.bx-style-2.left [class*="wt-icon-box-"]{
	right:0px;
	left:auto;
	-webkit-transform: translateX(50%);
	-ms-transform: translateX(50%);
	transform: translateX(50%);
}
.bx-style-2{
	margin-left:0px;
	margin-right:40px;
}
.bx-style-2 .icon-content{
	padding-left:0px;
	padding-right:40px;
}

/*==============================
	ACCORDIANS CSS
==============================*/
.acod-head .indicator{
	right:auto;
	left:0px;
}

.acod-head a {
    display: block;
    padding: 15px 15px 15px 40px;
}

/*==============================
	ACCORDIANS CSS
==============================*/
input[type="checkbox"] + label::before, input[type="radio"] + label::before{
	margin-right:-20px;
	margin-left:auto;
}

input[type=checkbox]:checked + label:after{
	right:-18px;
}

@media only screen and (max-width:768px){
input[type="checkbox"]:checked + label::after {
    right: 2px;
    top: 3px;
}
}

/*==============================
	WIDGET CSS
==============================*/

.widget-title::before{
	right:0px;
	left:auto;
}

.widget-title::after{
	right:18px;
}

.widget_categories ul li::before, 
.widget_archive ul li::before, .widget_meta ul li::before, 
.widget_pages ul li::before, .widget_recent_comments ul li::before, 
.widget_nav_menu ul li::before, .widget_useful_links ul li::before, 
.widget_recent_entries ul li::before, .widget_services ul li::before{
	right:0px;
	left:auto;
}

.widget_categories ul li, .widget_archive ul li, 
.widget_meta ul li, .widget_pages ul li, 
.widget_recent_comments ul li, 
.widget_nav_menu li, .widget_recent_entries ul li, 
.widget_services ul li{
	
	 padding: 10px 15px 10px 15px;
}

.widget_categories ul li li, 
.widget_archive ul li li, .widget_meta ul li li, 
.widget_pages ul li li, .widget_recent_comments ul li li, 
.widget_nav_menu li li, .widget_services li li{
	padding: 0 15px 0 10px;
}
.widget_categories li{
	text-align:left;
}
.widget_categories li a{
	float:right;
}


/*==============================
	BASIC CSS
==============================*/

.text-left{
	text-align:right !important;
}

.text-right{
	text-align:left !important;
}

/*==============================
	OWL CSS
==============================*/
.owl-prev {
    margin-left: 5px;
	margin-right: auto;
	
}

.site-search form{
	padding-left:15px;
}

.mfp-counter{
	direction:ltr;
}

/*===============================
	other parts
===============================*/
blockquote .fa-quote-left{
	right:30px;
	left:auto;
	
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}

@media only screen and (max-width: 640px){
blockquote .fa-quote-left {
    right:0px;
}
}

/*---------------------------*/
ol.comment-list li.comment .comment-body {
    padding: 20px 120px 20px 30px;
}
ol.comment-list li.comment .comment-author .avatar{
	right:20px;
	left:auto;
}
ol.comment-list li.comment .reply {
    text-align: left;
}

ol.comment-list li .children {
    margin-left: auto;
	margin-right: 80px
}
ol.commentlist li .star-rating {
    left: 20px;
	right:auto
}
ol.commentlist li img{float:right;}
ol.commentlist li .comment-text {
    padding-left: 0px;
    padding-right: 100px;
}

@media only screen and (max-width:640px){
ol.comment-list li .children {
	margin-right: 30px
}
}
@media only screen and (max-width:500px){
	ol.comment-list li.comment .comment-body {
		padding: 20px;
	}
}
@media only screen and (max-width:380px){
ol.comment-list li.comment .comment-body {
    padding: 20px;
}
}
.comment-respond .form-submit .site-button {
    font-weight: 700;
}

ol.comment-list li.comment .reply a::after {
    right: 0;
	left:auto;

}
/*---------------------------*/

.widget_services ul li span {
    float: left;
}
/*---------------------------*/
.widget_tag_cloud a{
	margin-right:0px;
}
/*---------------------------*/
.search-bx .input-group .input-group-btn{
	left:0px;
	right:auto;
}


/*---------------------------*/
.site-button-link::after {
    direction: ltr;
}
/*---------------------------*/

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot{
  padding:0px 5px !important;
}


.owl-carousel .owl-nav .owl-prev i {
 	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	display: inherit;   
}


.owl-carousel .owl-nav .owl-next i {
 	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	display: inherit;   
}


.owl-btn-vertical-center .owl-nav .owl-prev {
    left: auto;
	right:0px;
}
.owl-btn-vertical-center .owl-nav .owl-prev i {
	display:inline-block;
}

.owl-btn-vertical-center .owl-nav .owl-next {
    right: auto;
	left:0px;
}
.owl-btn-vertical-center .owl-nav .owl-next i {
	display:inline-block;
}


/*---------------------------*/
.list-circle li, .list-angle-right li, .list-arrow li, .list-check li, .list-checked li, .list-check-circle li, .list-chevron-circle li, .list-arrow-circle li, .list-times-circle li{
	padding: 5px 20px 5px 5px;
}

.list-circle li:before,
.list-angle-right li:before,
.list-arrow li:before,
.list-check li:before,
.list-checked li:before,
.list-check-circle li:before,
.list-chevron-circle li:before,
.list-arrow-circle li:before,
.list-times-circle li:before {
	left: auto;
	right: 0px;
}
/*---------------------------*/
.input-animate.input label {right:0px;    left: auto;}

.footer-link ul li a::after{	left:auto;	right:0px;}

.wt-post-bottom li::after {	-webkit-transform: rotate(-35deg);	-moz-transform: rotate(-35deg);	-o-transform: rotate(-35deg);	-ms-transform: rotate(-35deg);	transform: rotate(-35deg);}
.date-style-2 .wt-post-meta li::after {	-webkit-transform: rotate(-35deg);	-moz-transform: rotate(-35deg);	-o-transform: rotate(-35deg);	-ms-transform: rotate(-35deg);	transform: rotate(-35deg);}
.date-style-2 .wt-post-meta ul li::after {    left: -28px;    right: auto;}

.date-style-2 .wt-post-meta ul li {margin-left: 30px; margin-right: 0px;}



.site-list-style-one li::after {	left:auto;    right: 0px;	-webkit-transform: scaleX(-1);	transform: scaleX(-1);}
.site-list-style-one li{	padding-left:0px;	padding-right:30px;}




.footer-light .widget_address li {padding-left: 0px;    padding-right: 0px;}
.footer-light .widget_address li i{	left:auto; right:0px;}

.footer-dark .widget_address li {padding-left: 0px;    padding-right: 0px;}
.footer-dark .widget_address li i{	left:auto; right:0px;}


.site-button.button-sm {
    padding: 5px 10px;
    font-size: 12px;
}

.site-button-secondry.button-sm {
    padding: 5px 10px;
    font-size: 12px;
}

.wt-team-2 .wt-info .team-contact ul li i {margin-right: 0px; margin-left: 10px;}

.footer-dark .footer-bottom .copyrights-nav li{margin-left:12px; margin-right:0px; position: relative;}
.footer-dark .footer-bottom .copyrights-nav li:first-child{margin-left:12px; margin-right:0px;}
.footer-dark .footer-bottom .copyrights-nav li:last-child{margin-right:0px;margin-left:0px;}
.footer-dark .footer-bottom .copyrights-nav li::after {

	-moz-transform: rotate(145deg);
	-webkit-transform: rotate(145deg);
	-o-transform: rotate(145deg);
	-ms-transform: rotate(145deg);
	transform: rotate(145deg);
	
	left: -10px;
	position: absolute;
	right: auto;

}

.footer-bottom .copyrights-nav li{margin-left:12px; margin-right:0px; position: relative;}
.footer-bottom .copyrights-nav li:first-child{margin-left:12px; margin-right:0px;}
.footer-bottom .copyrights-nav li:last-child{margin-right:0px;margin-left:0px;}
.footer-bottom .copyrights-nav li::after {

	-moz-transform: rotate(145deg);
	-webkit-transform: rotate(145deg);
	-o-transform: rotate(145deg);
	-ms-transform: rotate(145deg);
	transform: rotate(145deg);
	
	left: -10px;
	position: absolute;
	right: auto;
	color: #fff;

}

.search-bx button{-webkit-transform: scaleX(-1);	transform: scaleX(-1);} 
.widget_services ul li .badge {float: left;}

.your-order-list ul li .pull-right{float:left;}

.site-button-outline span {left: 0px; right: auto;}
.site-button-outline {padding: 8px 20px 8px 50px;}
.site-button-outline.button-sm {
    padding: 5px 10px;
    font-size: 12px;
}
.site-button-outline span::after { left: 20px; right: auto;}


.date-style-2-detail .wt-post-meta ul li::after {left: -30px; right: auto;}
.date-style-2-detail .wt-post-meta ul li { margin-left: 30px; margin-right: 0px;}

.blog-post blockquote{text-align:right;}



.rev-title-left-border{border-left:0px; border-right:8px solid #dc2d4e;}


@media only screen and (max-width: 991px){
.navbar-toggler{float:left;     margin-left: 0px;    margin-right: 5px; padding-left: 0px;}

}

@media only screen and (max-width: 991px){
.mobile-sider-drawer-menu.active .header-nav {
    right: 15px;
	left:auto;
}
/* .mobile-sider-drawer-menu .header-nav{left:auto; right:-250px;} */
}




.sx-separator-outer.separator-left {
    text-align: right;
}
.sep-line-one:after{left:-40px; right:auto;}
.sep-line-one:before{right: -40px; left:auto;}
.sx-separator-outer.separator-left .sep-line-one{padding:20px 20px 20px 60px;}
.sx-separator-outer.separator-left .sep-line-one:after{right: auto; left:20px;}

.about-home-right .about-home-before {right: auto; left: 0px;}

.number-slider .owl-dots {left: auto; text-align: right;}


.number-slider .owl-dot {  margin-right: 0px;  margin-left: 70px;}

.number-slider .owl-dot.active:before {right:35px;left: auto;}
.number-slider .owl-dot.active:after {  right: 16px;  left: auto;}

.right-half-bg-image { right: calc(100% + 15px);}

.counter-blocks .st-count-number::after { left:auto;   right: 0px;}
.counter-blocks .st-count-number {padding: 20px 10px 11px 0px;}

.testimonial-2 .testimonial-detail { margin-right:0px;margin-left:90px;}
.testimonial-2 .fa-quote-right{left:15px; right:auto; -webkit-transform: scaleX(-1);	transform: scaleX(-1);}
.testimonial-2 .testimonial-pic { float: right; margin-right: 0px;  margin-left: 15px;}
.testimonial-home.number-slider .owl-dots{right:auto; left:0px;}

.testimonial-1 .fa-quote-right {left:30px; right:auto; -webkit-transform: scaleX(-1);	transform: scaleX(-1);}


.icon-count-2-outer .icon-count-2 span.icon-count-number{left:30px; right:auto;}
.icon-count-2-outer .icon-count-2 span.icon-count-number::after {right: -50%;    left:auto;}

.site-button-link::before {right:0px; left:auto;  left: 0px;}

.hilite-title strong {left:80px; right:auto; width:0px;}

.sx-separator-outer.separator-center .sep-line-one::before {left: 20px; right: auto;}

.filter-pos-right .btn-filter-wrap li::after {content: "/";  left: auto; right: -2px; -webkit-transform: scaleX(-1);	transform: scaleX(-1)}

.image-hover-block .sx-info {left: auto;	right:0px;    padding: 15px 20px 15px 30px;}
.image-hover-block::before, 
.image-hover-block::after {
	left: 20px; right: 20px; 
}
.image-hover-block a.mfp-link {left:70px; right:auto;}

.footer-dark .widget_newsletter .newsletter-bx button {-webkit-transform: scaleX(-1);	transform: scaleX(-1)}
.footer-light .widget_newsletter .newsletter-bx button { -webkit-transform: scaleX(-1);   transform: scaleX(-1);}
.recent-posts-entry-date .sx-post-date { width: 50px;  float: right;}
.recent-posts-entry-date .sx-post-info {    margin-left:0px; margin-right:70px;}

.about-home-2::after {	left:auto; right:0;}
.number-block-two .figcaption-number { left: 20px;right:auto;}
.filter-navigation{display:inline-flex;}

.our-team-info .our-team-content::before {left: -1px;    border-width: 0px 0px 96px 50px;    right: auto; -webkit-transform: translate3d(-50px,96px,0px);
    transform: translate3d(-50px,96px,0px);

}
.our-team-3 .our-team-info .our-team-content{right:0px; left:auto;}
.our-team-info p {float: left;left: -10px;position: relative;text-align: right;}
.our-team-info p a { -webkit-transform: translate3d(-90px,0,0);  transform: translate3d(-90px,0,0);}

.date-style-2 .post-date {left: auto; right:0px;}

.extra-nav .extra-cell {padding-left: 0px;	padding-right: 20px;}
.video-section-full-v2 {margin-right:0px; margin-left: 40px;}

.video-section-full-v2::after {right:auto; left:-40px;}

.list-circle li::before, .list-angle-right li::before, .list-arrow li::before, .list-check li::before, .list-checked li::before, .list-check-circle li::before, .list-chevron-circle li::before, .list-arrow-circle li::before, .list-times-circle li::before {	-webkit-transform: scaleX(-1);	transform: scaleX(-1)}

.anchor-line a {background-position: 100% 100%;}

.play-now .icon.fa-play {-webkit-transform: scaleX(-1);    transform: scaleX(-1); top: -2px;left: -1px;}
.video-section-bottom { right: 20px; left:auto;}

.video-section-full:after{left:auto;right:20px;}
.video-section-full:before{left:auto;right:20px;}
.video-section-inner:after{left:20px;right:auto;}
.video-section-inner:before{left:20px;right:auto;}

.our-story-year {padding-right: 20px;  margin-right: 20px; padding-left: 0px;  margin-left: 0px;}
.our-story-detail {margin-left:0px; margin-right:40px;}
 @media only screen and (max-width:640px){
	 .our-story-detail {margin-left:0px; margin-right:0px;}
 }
.our-story-year {border-right: 1px solid #fff; border-left: 0px solid #fff;}

.about-single-team-info .our-story-year {
    border-right: 1px solid  #23252d; border-left: 0px;
}

.number-block-three .figcaption-number { right: auto;left:20px;}

.recent-posts-entry-date .sx-post-info .sx-post-meta ul li i {margin: 0px 0px 0px 5px;}

.date-style-3 .sx-post-info {padding: 0px 30px 30px 40px;}
.date-style-3 .widget_social_inks {right:auto;   left: 0px;}

.date-style-3 .sx-post-info .sx-post-meta, .date-style-3 .sx-post-info .sx-post-title, .date-style-3 .sx-post-info .sx-post-text {
    padding-right: 0px;padding-left: 30px;
}
.sx-post-readmore.pull-left{float:right;}






.our-history .our-history-content {
	margin-left:0%;
	margin-right:20%;
	text-align:right;
}

.our-history .our-history-pic {
    margin-right: 0%;
    margin-left: 20%;
}

.our-history .pic-bg-border::after {
    left: 15px; right: auto;
}

.our-history .row:nth-child(even) .our-history-pic{margin-left:0%; margin-right:20%;}
.our-history .row:nth-child(even) .our-history-content{margin-left:20%; margin-right:0%; text-align:right;}
.our-history .row:nth-child(even) .pic-bg-border:after{right:15px;left:auto;}

 @media only screen and (max-width:767px){
	 
.our-history .our-history-content{margin-right:0%;}	
.our-history .our-history-pic { margin-right: 0%; margin-left: 0%;}
.our-history .row:nth-child(even) .our-history-pic{margin-left:0%; margin-right:0%;}
.our-history .row:nth-child(even) .our-history-content{margin-left:0%; margin-right:0%; text-align:right;}
 }

.project-carousel1 .image-single-carousel .sx-info {
	left: 50px;
    right: auto;
}


.project-carousel1 .image-single-carousel .sx-info::after {
    right: auto;left: 10px;
    border-right: 0px solid #fff;
    border-bottom: 3px solid    #fff;
    border-left: 3px solid #fff;
}

.sx-bnr-inr-entry{text-align: right;}

.contact-form {padding-left: 100px;    padding-right: 30px;}
.contact-info {margin-right: -50px;    margin-left: 0px;}

@media only screen and (max-width:991px){
	.contact-form {padding-left: 30px;    padding-right: 30px;}
	.contact-info {margin-right: 0px;    margin-left: 0px;}
}

.sx-icon-box-wraper.left .icon-xld,
.sx-icon-box-wraper.left .icon-xl,
.sx-icon-box-wraper.left .icon-lg,
.sx-icon-box-wraper.left .icon-md,
.sx-icon-box-wraper.left .icon-sm,
.sx-icon-box-wraper.left .icon-xs{float: right;margin-right: 0px; margin-left: 10px;}

.widget_newsletter-2 .newsletter-bx .input-group-btn{
    -webkit-transform: scaleX(-1);    transform: scaleX(-1);
}
.widget_newsletter-2 .newsletter-bx {
    text-align: right;
}
.widget_services ul li a span {
    text-align: left;
    float: left;
}

.recent-posts-entry .sx-post-info {
    margin-right: 105px;
    margin-left: 0px;
}
.recent-posts-entry .sx-post-media {
    float: right;
}

blockquote.author-quote {
    padding: 30px 100px 30px 30px;
 }
 @media only screen and (max-width:640px){
 blockquote.author-quote {
    padding: 30px 70px 30px 30px;
 }
 }

 blockquote.author-quote .fa-quote-left {
 	right:30px;
    left: auto;
}

.team-single-social ul li span:first-child {
    padding-right: 0px;
    padding-left: 30px;
}

button.scroltop{left: 15px; right: auto;}

.slide-left-social {right: 40px;left: auto;}

.filter-pos-right .btn-filter-wrap li:last-child {
    padding-right: 10px;
    padding-left: 0px;
}

.date-style-3 .sx-post-meta li:first-child {
    padding-left: 20px;
    padding-right: 0px;
}
.date-style-3 .sx-post-meta li {
    border-left: 1px solid #eee;
	border-right:0px;
}

#search .search-btn i {
     -webkit-transform: scaleX(-1);    transform: scaleX(-1);
}



@media (max-width: 778px) {

#rev_slider_26_1 .tp-leftarrow{
	-webkit-transform: matrix(1, 0, 0, 1, -100, -50) !important;
	transform: matrix(1, 0, 0, 1, 20, -50) !important;	
}
#rev_slider_26_1 .tp-leftarrow{
	-webkit-transform: matrix(1, 0, 0, 1, -100, -50) !important;
	transform: matrix(1, 0, 0, 1, 20, -50) !important;	
}

}


.full-social-bg{text-align:right}

.testimonial-home.number-slider .owl-dot.active::before{text-align:left;}
.testimonial-home.number-slider .owl-dot.active::after {text-align:left;}
.testimonial-home.number-slider .owl-dots:after{padding-right:5px;padding-left:0px;}

/*Shop Page*/
form.woocommerce-ordering::after {
    left: 10px;
	right: auto	;

}


.pagination-st-1 .fa-chevron-left::before {
    content: "\f054";
}
.pagination-st-1 .fa-chevron-right::before {
    content: "\f053";
}
.shop-pro-size-list span {
    margin-right: 0px;
	margin-left: 5px;
}

.shop-item-list-wrap .sx-product-box .sx-thum-bx {
    float: right;
}
.shop-item-list-wrap .sx-info {
    padding-left: 0px;
	padding-right: 20px;
	text-align: right !important;
}

.btn-quantity {
	margin-left: 30px;
	margin-right: 30px;
}
.ls-inputicon-box .form-control {
    padding-left: 0px;
	padding-right: 35px;
    direction: rtl;
    text-align: right;
}

.ls-inputicon-box .fs-input-icon {
    right: 0;
	left:auto;
}

.shopping-cart-total .sub_total {
    margin-right: auto;
	margin-left: inherit;
}



.shopping-cart-total .sub_total .top li {float: right;}
.shopping-cart-total .sub_total .top li:last-child {float: left;}
.shopping-cart-total .shipping ul li span{float: left;}

.shopping-cart-total .total ul li:last-child{float: left; text-align: left;}


.selectpicker + .dropdown-toggle::after{left: 8px; right: auto;}
.bootstrap-select .dropdown-toggle .filter-option-inner-inner {
    overflow: hidden;
    text-align: right;
}
.form-control{text-align: right;}

select {
    padding: 10px 10px 10px 30px;
}
@media only screen and (max-width:640px){
	form.woocommerce-ordering {
		right: 0px;
		left: auto;
	}
}